// Home.scss

.home {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    // background-image: url('/path/to/your/image.jpg'); // Add your background image URL here
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    .flight-search {
        width: 45%;
        background-color: rgba(255, 255, 255, 0.8); // Semi-transparent white background
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); // Box shadow for a subtle effect

        h2 {
            margin-bottom: 20px;
            font-size: 1.5rem;
        }

        form {
            display: flex;
            flex-direction: column;

            input,
            button,
            .react-datepicker-wrapper {
                margin-bottom: 15px;
            }

            input,
            button {
                padding: 10px;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
            }

            button {
                background-color: #007bff;
                color: #fff;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }
    }

    .flight-details {
        width: 100%;
        margin-top: 20px;
        border: 1px solid #ccc; // Border for flight details
        border-radius: 10px;
        padding: 20px;

        h2 {
            margin-bottom: 20px;
            font-size: 1.5rem;
        }

        .flight-details-card-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .flight-card {
                flex: 1 1 calc(50% - 10px);
                padding: 15px;
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                h3 {
                    font-size: 20px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 16px;
                    margin-bottom: 8px;
                }
            }
        }
    }
}
